.resources__logo-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    width: 1100px;
    margin: 80px auto 217px;
}